beautifulsoup4==4.12.2
Flask==2.3.2
nltk==3.8.1
numpy==1.24.3
pandas==2.0.1
Requests==2.30.0
python-dateutil==2.8.1
regex==2020.11.13
six==1.15.0
tqdm==4.54.1
click==8.0.3
cloudevents==1.2.0
deprecation==2.1.0
functions-framework==3.0.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
pathtools==0.1.2
pyparsing==3.0.6
setuptools==60.3.1
watchdog==1.0.2
Werkzeug==2.0.2
